{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                {% if csrf_token %}
                                    <div class="form-label-group">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    </div>
                                {% endif %}
                                <div class="form-label-group">
                                    <input type="text" id="username" name="_username" required="required" class="form-control"/>
                                    <label for="_username">Email address</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control"/>
                                    <label for="password">Password</label>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">Remember password</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2" type="submit">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>