###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea

/public/download

/.web-server-pid
/public/gas/gas_station_price.json
/public/.htaccess

###> symfony/webpack-encore-bundle ###
/node_modules/
#/public/build/
npm-debug.log
yarn-error.log
webpack.config.js
###< symfony/webpack-encore-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
