@import "variables";

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway/Raleway-ExtraBold.ttf");
}

body {
    font-family: Raleway, sans-serif;
}

.content {
    padding: 70px 10px 10px 70px;
    width: calc(100%);
    min-height: calc(100vh);
}

.row {
    margin: 0 auto;
}

.ui.segment {
    box-shadow: none!important;
}

.ui.modal>.header {
    font-family: Raleway-Bold, sans-serif!important;
}

.ui.modal {
    top: auto;
    left: auto;
    height: auto!important;
    .content {
        min-height: auto!important;
    }
    .ui.input>input {
        border-radius: 0!important;
    }
    .ui.label {
        border-radius: .28571429rem 0 0 .28571429rem;
    }
    .ui.corner.labeled.input {
        width: 100%;
    }
    .thumb-image {
        width: 100%;
    }
}

#menu {
    .gn-menu {
        .icon i {
            width: 60px;
            text-align: center;
        }
    }
    .ui.avatar.image {
        margin: 1.5px 5px;
        width: 55px;
        height: 55px;
        max-height: none;
    }
    .ui.inline.dropdown .menu {
        margin-top: -1px!important;
    }
}

#homepage {
    #chart_consumption_years {
        margin: 10px 0 10px 0;
    }

    #apogee_at {
        padding: 0 5px 0 0;
        margin-top: 10px;
    }

    #apogee_at table{
        border-top: none;
    }

    #apogee_at {
        thead th {
            font-family: Raleway, sans-serif;
            font-size: 20px;
        }
    }

    #alert_at {
        padding: 0 0 0 5px;
        margin-top: 10px;
    }

    #alert_at table{
        border-top: none;
    }

    #alert_at {
        thead th {
            font-family: Raleway, sans-serif;
            font-size: 20px;
        }
    }

    #chart_consumption, #chart_country {
        padding: 0;
    }

    #chart_consumption {
        margin-bottom: 10px;
    }

    #chart_country {
        margin-top: 10px;
    }

    .highcharts-label.highcharts-data-label text{
        font-size: 17px!important;
        font-family: Raleway, sans-serif!important;
    }

    @media only screen and (max-width: 768px) {
        .items:first-child {
            margin-top: 0!important;
            padding: 0!important;
        }
        .items {
            margin-top: 10px!important;
            padding: 0!important;
        }
    }

    @media only screen and (max-width: 992px) {
        .items:nth-child(even) {
            padding-right: 0;
        }
        .items:nth-child(odd) {
            padding-left: 0;
        }
        .items:nth-child(3), .items:nth-child(4) {
            margin-top: 10px;
        }
    }

    .items:first-child {
        padding-left: 0;
    }
    .items:last-child {
        padding-right: 0;
    }
    .items {
        padding: 0 5px;
        height: 150px;
        .consumption_liter {
            background-color: #6a89cc;
        }
        .item {
            border: 1px solid $border-color;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            .logo {
                font-family: Raleway-Bold, sans-serif;
                position: absolute;
                left: -15px;
                bottom: -15px;
                line-height: 1;
            }
            .logo i {
                font-size: 100px;
                color: #f1f1f1;
            }
            .name {
                font-family: Raleway-Bold, sans-serif;
                font-size: 30px;
                color: #f1f1f1;
                position: absolute;
                left: 20px;
                top: 10px;
                line-height: 1;
            }
            .count {
                font-family: Raleway-Bold, sans-serif;
                font-size: 70px;
                color: #f1f1f1;
                position: absolute;
                right: 10px;
                bottom: 10px;
                line-height: 1;
            }
            .count.blanc {
                color: #7b7b7b!important;
            }
            .name.blanc {
                color: #7b7b7b!important;
            }
            .logo.blanc i{
                color: #7b7b7b!important;
            }
        }
    }
}